body{
    background: url(images/Sin_night_sky_dark_blue_purple_stars_4df591ed-8949-49a7-b07b-b22ab513a4c5.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #3E54AC;
    background-blend-mode: multiply;
}
h1{
    color: #BFDCE5;
}
.main{
    display: grid;
    justify-content: center;
    margin-top: 20%;
}

.btn{
    background-color: #AD7BE9;
    border-color: #AD7BE9;
    color: #EEEEEE;
    padding-left: 5em;
    padding-right: 5em;
}

.btn:hover{
    background-color: #BFDCE5;
    border-color: #BFDCE5;
}

.button-main{
    margin: auto;
    margin-top: 10%;
}

@media only screen and (max-width: 770px) {
    body { 
        background: url(images/Sin_night_sky_dark_blue_purple_stars_eb1c65cd-9f36-4c9b-847e-f15ac0f4cb29.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: #3E54AC;
        background-blend-mode: multiply;
      }
    .main-h1{
        padding: 1em;
        text-align: center;
    }
  }